* {
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    &.noscroll {
        position: static !important;
        width: 100%;
        height: 100%;
        overflow: hidden !important;
        overflow-y: hidden !important;
        margin: 0;
        padding: 0;
    }
}
// 最外圍預設為100%
.wrapper {
    width: 100%;
    margin: 0px auto;
    
    @include screen('mobile') {
        background: #FFF;
        overflow: hidden;
        overflow-y: auto;
    }
}
// 整體共用container樣式，請注意首頁切版頁面的整齊
.container {
     @include gutter(); //gutter 代表左右要留白
    margin: 0 auto;
    max-width: $container-max; //請看_variable.scss
    // outline: 1px solid red;
}
.main {
    position: relative;
    margin: 0 auto;
    padding: 0;
    background-image:url('../images/mpbg01.jpg');
    background-repeat: repeat-x;
    background-position: center top;
    background-color:#fff;

    // 可先設定一個中央區塊最大寬，限制accesskey對齊
    @include screen('tablet'){
background-position: 55% top;
    }
    @include screen('mobile') {
       
        background-position: 40% 0px;

    }
    @include screen('xs_mobile'){
        background-position: 45% 0;
         
    }
    @media(max-width: 480px){
        background-position: 40% 0;
    }
    h2 {
        line-height: 1.25em;
    }
    .accesskey{
        color: $contentbgcolor;
    }
}

.main {
    &.small_size {
        font-size: .938em;
    }
    &.large_size {
        font-size: 1.125em;
    }
}
p{
    line-height: 1.7em;
    margin:0 0 15px 0;
    // &+p{
    //     margin
    // }
}
////////////////////////////////////////////////////////////
// 為了與首頁區隔，請在內頁加上innerpage ClassName
.innerpage {        
    background-image: url('../images/mpbg01_innerpage.jpg');
    @include screen('mobile') {
         padding-top: 200px;
        background-position: 60% -70px;
    }
    >.container {
        @include gutter(); //gutter 代表左右要留白
    }
}

.hidden{
    display: none;
}
.word_green{
    color: $secondaryColor;
}
.word_red{
    color: $color-red;
}
.word_blue{
    color: $color-blue;
}